@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

body {
  position: relative;
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  scroll-behavior: smooth;
}

main {
  scroll-behavior: smooth;
}

.zoom-in {
  -webkit-transform: scale(3.5) translateY(-3rem) translateX(-4rem);
          transform: scale(3.5) translateY(-3rem) translateX(-4rem);
}

.display-block {
  display: block !important;
}

.display-none {
  display: none !important;
}

.display-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

#backdrop {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1001;
}

#info-section {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  font-size: 1.15rem;
  padding: 2rem;
  z-index: 1002;
}

#info-section p .info {
  font-weight: 700;
}

#info-section p #judge-type {
  font-weight: 700;
}

#info-section .stats-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

#info-section .stats-buttons button {
  padding: .5rem 1rem;
  font-weight: 700;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}

#info-section .stats-buttons #continue-button {
  background: #060c37;
  color: #fff;
}

#info-section .stats-buttons #homepage-button {
  background: #d7ba02;
}

.tutorial-message {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 325px;
  font-weight: 700;
  font-size: 1.25rem;
  background: #fff;
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
  z-index: 1002;
  cursor: default;
}

#home {
  position: absolute;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
  z-index: 1000;
}

#home img {
  height: 2rem;
  width: 4rem;
}

#reset-button {
  display: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: .5rem 1rem;
  font-size: 1.05rem;
  font-weight: 700;
  background: #ff0000;
  cursor: pointer;
  z-index: 1000;
  border: none;
  border-radius: .25rem;
}

#courtyard {
  height: 100vh;
  width: 100%;
  background: url("../images/judgeroom.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}

#desk {
  display: none;
  position: relative;
  height: 100vh;
  width: 100%;
  background: url("../images/woodbackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.pages {
  position: absolute;
  width: 30%;
  max-width: 300px;
  height: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(0);
          transform: translateY(-50%) translateX(0);
  overflow: hidden;
  cursor: pointer;
  -webkit-box-shadow: 8px 4px 6px 6px rgba(0, 0, 0, 0.7);
          box-shadow: 8px 4px 6px 6px rgba(0, 0, 0, 0.7);
}

.pages:hover .page:last-of-type {
  background: #faffa5;
  -webkit-transform: translateX(-2px) translateY(-14px);
          transform: translateX(-2px) translateY(-14px);
}

.pages .page {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fff;
  border: 1px solid black;
}

.pages .page:nth-of-type(2) {
  -webkit-transform: translateX(-2px) translateY(-2px);
          transform: translateX(-2px) translateY(-2px);
  z-index: 2;
}

.pages .page:nth-of-type(3) {
  -webkit-transform: translateX(-4px) translateY(-4px);
          transform: translateX(-4px) translateY(-4px);
  z-index: 3;
}

.pages .page:nth-of-type(4) {
  -webkit-transform: translateX(-6px) translateY(-6px);
          transform: translateX(-6px) translateY(-6px);
  z-index: 4;
}

.pages .page:nth-of-type(5) {
  -webkit-transform: translateX(-8px) translateY(-8px);
          transform: translateX(-8px) translateY(-8px);
  z-index: 5;
}

.pages .page:nth-of-type(6) {
  -webkit-transform: translateX(-10px) translateY(-10px);
          transform: translateX(-10px) translateY(-10px);
  z-index: 6;
}

.pages .page:nth-of-type(7) {
  -webkit-transform: translateX(-12px) translateY(-12px);
          transform: translateX(-12px) translateY(-12px);
  z-index: 7;
}

.pages .page:last-of-type {
  -webkit-transform: translateX(-14px) translateY(-14px);
          transform: translateX(-14px) translateY(-14px);
  z-index: 8;
  padding: 1rem;
  text-align: center;
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
}

.cases-spot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  gap: 100%;
  height: 70%;
  width: 50%;
  max-width: 450px;
  right: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.cases-spot .case {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background: #fff;
  font-weight: 700;
  line-height: 1.25;
  -webkit-box-shadow: 6px 6px 2px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 6px 6px 2px 2px rgba(0, 0, 0, 0.6);
  overflow: scroll;
  border-radius: .5rem;
}

.cases-spot .case .underline-text {
  text-decoration: underline;
}

.cases-spot .case .punishments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
}

.cases-spot .case .punishments .punishment {
  padding: .5rem 1rem;
  background: #7d8df2;
  border: 1px solid black;
  border-radius: .25rem;
  cursor: pointer;
}

.cases-spot .case .submit-case {
  margin: auto;
  font-size: 1.15rem;
  padding: .5rem 1rem;
  background: #858585;
  cursor: not-allowed;
  border: none;
}

.cases-spot .break-button {
  display: none;
  padding: .5rem 1rem;
  background: #0a1766;
  color: white;
  font-size: 1.15rem;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 600px) {
  body .tutorial-message {
    font-size: 1.75rem;
    max-width: 450px;
    padding: 1.5rem;
  }
  main .cases-spot {
    height: 80%;
    right: 3rem;
  }
}

@media screen and (min-width: 1000px) {
  .zoom-in {
    -webkit-transform: scale(3.5) translateY(-7rem) translateX(-4rem);
            transform: scale(3.5) translateY(-7rem) translateX(-4rem);
  }
  main .pages {
    height: 70%;
  }
}

@media screen and (min-width: 1100px) {
  main .cases-spot {
    right: 20%;
  }
}

@media screen and (min-width: 1200px) {
  main .cases-spot {
    max-width: 500;
    height: 90%;
  }
}
/*# sourceMappingURL=game.css.map */